<!DOCTYPE html>
<html>
<head>
  <title>ClinicMap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>


  <script type="text/javascript" src="//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry"></script>
<script type="text/javascript" src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>


</head>
<body>

<%= yield %>

</body>
</html>
